.submit-btn {
    color: white;
    background-image: linear-gradient(135deg, #2AF598, #009EFD); 
    padding: 10px 30px;
    border: none;
    font-size: 15px;
    border-radius: 10px;
}

.search-bar {
    margin: auto;
    width: 600px;
    padding: 10px;
    box-shadow: lightgray 5px 5px 30px;
    border-radius: 5px;
}

.email-box {
    border: none;
    width: 100%;
}



@media only screen and (max-width: 1000px) {
    .search-bar {
        width: 80%;
        margin: auto;
    }
}
