/* .pricing {
    background-image: url('../../Illustration/pricing-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    height: 500px;
} */