.price-single {
    box-shadow: lightgray 5px 5px 20px;
    padding: 50px;
    margin-bottom: 50px;
    border: 4px solid transparent;
    font-size: 20px;
    border-radius: 5px;
}

.price-single:hover {
    border: 4px solid #4FD1CB;
}

.hori-row {
    border-top: 2px solid #4FD1CB;
}

@media only screen and (min-width: 1500px) {
    .price-single {
        margin: 50px;
    }
}

.order-btn {
    color: white;
    background-color: white;
    padding: 10px 30px;
    border: none;
    font-size: 25px;
    border-radius: 25px 0px 25px 0px;
}

.price-single:hover .order-btn {
    background-image: linear-gradient(135deg, #2AF598, #009EFD); 
}